body {
    background-image: url(https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/C7C392B3EE254B859D6E958DBE8B0F41/10151236.jpg?fit=inside|540:540);
    font-family: 'EB Garamond', serif;
}

#name {
    font-style: italic;
}

ul {
    font-weight: bold;
}


